.order-shop {
    margin: 0;
    padding: 0 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

.shop-img {
    width: 197px;
    height: 173px;
    background-color: rgb(255, 255, 255);
}

.shop-clickable-icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-color: white;
}

.shop-clickable-icon-catr {
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-color: white;
    padding: 0 5px;
}


.shop-text {
    font-family: "noto sans lao";
    width: auto;
    height: 40px;
    text-align: center;
    font-size: 10px;
    color: rgb(0, 0, 0);
}

.shop-icon-shop-img1 {
    background-image: url("./shop/6c623ed1e61d69e9722b5a5cca80a344a1055e13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.shop-icon-shop-img2 {
    background-image: url("./shop/105776ef1d84156ed71890aa39d18fb01733f725.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.shop-icon-shop-img3 {
    background-image: url("./shop/dba81a7760452912f173eacdc27ce33e6f7977c3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.shop-icon-shop-img4 {
    background-image: url("./shop/ad23f3ca4db906e7be30a8c0f468340d7c91a473.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.shop-icon-shop-img5 {
    background-image: url("./shop/f5cea91d0c08580fc97d79e57bcee53ca254d39f.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.shop-icon-shop-img6 {
    background-image: url("./shop/5e7c3b6a890fe20f5976b202a03990026f4ac961.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.shop-icon-shop-img7 {
    background-image: url("./shop/ed32c2010d5a69b740f7325673f7548337d01101.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.shop-icon-shop-img8 {
    background-image: url("./shop/5e7c3b6a890fe20f5976b202a03990026f4ac961.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.shop-icon-shop-img9 {
    background-image: url("./shop/9e20cac4c1d5ad333337cfbcc213a58442ddd702.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.shop-icon-shop-catr {
    background-image: url('./icon/icons8-shopping-cart-96.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 173px center;
}

@media (max-width: 1300px) {

    .order-shop {
        padding: 0 0px;
    }

    .shop-img {
        margin: 20px;
    }
}

@media (max-width: 1024px) {


    .order-shop {
        padding: 0 0px;
    }

    .shop-img {
        margin: 35px;
    }
}

@media (max-width: 550px) {
    body {
        padding-bottom: 10vh;
    }

    * {
        margin: 0;
        padding: 0;
    }

    .shop-img {
        width: 200px;
        height: 200px;
    }

    .shop-text {
        font-size: 11px;
    }

    .shop-clickable-icon-catr {
        width: 95%;
        height: 100%;
    }

    .shop-icon-shop-catr {
        background-size: 15px 15px;
        background-position: 180px center;
    }

    .order-shop {
        margin: 0 -5px;

    }


}